.tStyle1  {
  position: absolute;
  top: 50px;
  left: 0;
  width: 40%;
  color: brown;
  font: bold 20px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  padding: 15px;
  background-color: green!important;
}

.tStyle2 {
  position: absolute;
  top: 150px;
  left: 0;
  width: 40%;
  color: black;
  font: bold 28px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  padding: 15px;
}

.iStyle {
   position: relative;
   width: 100%;
};
