.changeLayout {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

@media (min-width: 1220px) {
  .changeLayout_Container {
    position: absolute;
    left: 2%;
    right: 2%;
    top: 100px;
    bottom: 100px;
    margin: auto;
    border: 3px solid #E31818;
    background: #EEEEEE;
    height: 75%;
  }
  .changeLayout_Container_new {
    position: absolute;
    left: 2%;
    right: 2%;
    top: 100px;
    bottom: 100px;
    margin: auto;
    border: 3px solid #E31818;
    background: #EEEEEE;
    height: 85%;
  }
  .changeLayout_Container .layoutFooter, .changeLayout_Container_new .layoutFooter {
    position: absolute;
    top: 95%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1024px) and (max-width: 1220px) {
  .changeLayout_Container {
    position: absolute;
    left: 2%;
    right: 2%;
    top: 50px;
    bottom: 50px;
    margin: auto;
    border: 3px solid #E31818;
    background: #EEEEEE;
    height: 85%;
  }
  .changeLayout_Container_new {
    position: absolute;
    left: 2%;
    right: 2%;
    top: 100px;
    bottom: 100px;
    margin: auto;
    border: 3px solid #E31818;
    background: #EEEEEE;
    height: 100%;
    overflow-y: scroll;
  }
  .changeLayout_Container .layoutFooter {
    position: absolute;
    top: 95%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .changeLayout_Container_new .layoutFooter {
    position: absolute;
    bottom: -27%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 460px) and (max-width: 1024px) {
  .changeLayout_Container {
    position: absolute;
    left: 2%;
    right: 2%;
    top: 5px;
    bottom: 5px;
    margin: auto;
    border: 3px solid #E31818;
    background: #EEEEEE;
    height: 95%;
  }
  .changeLayout_Container_new {
    position: absolute;
    left: 2%;
    right: 2%;
    top: 100px;
    bottom: 100px;
    margin: auto;
    border: 3px solid #E31818;
    background: #EEEEEE;
    height: 95%;
    overflow-y: scroll;
  }
  .changeLayout_Container .layoutFooter {
    position: absolute;
    top: 95%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .changeLayout_Container_new .layoutFooter {
    position: absolute;
    bottom: -35%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.closeButton {
  position: relative;
  top: 0;
  float: right;
  margin: 5px;
  height: 40px;
  width: 89px;
  border: 2px solid #333333;
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  background: transparent;
  &:hover:enabled {
    cursor: pointer;
    background-color: #333333;
    color: #d1d1d1;
    border: 2px solid #333333;
  }
  &[disabled=disabled], &:disabled {
    border: 2px solid #C9C9C9;
    color: #CACACA;
  }
}

.selectButton {
  position: relative;
  top: 0;
  float: right;
  margin: 5px;
  height: 40px;
  width: 89px;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  background: rgba(0, 142, 255, 1);
  &:hover:enabled {
    cursor: pointer;
    background-color: rgba(20, 101, 203, 1);
    color: #FFFFFF;
    border: none;
  }
  &[disabled=disabled], &:disabled {
    border: 2px solid #CCCCCC;
    color: #CCCCCC;
    background: transparent;
  }
}

.changeLayoutSpan {
  position: absolute;
  left: 8%;
  top: 8%;
  height: 19px;
  color: #333333;
  font-size: 14px;
  line-height: 19px;
}

.layoutSection {
  position: absolute;
  top: 15%;
  width: 100%;
  float: left;
  right: 15px;
}

.layoutImage {
  position: relative;
  top: 10px;
  text-align: center;
  color: #999999;
}

.layoutImg {
  width: 225px;
  height: 125px;
}

.currentLayout {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  height: 100%;
  text-align: center;
  background: rgba(227, 24, 24, 0.08);
}

.checkMark {
  position: absolute;
  top: 0%;
  left: 0%;
  display: none;
  visibility: hidden;
  opacity: 0;
}

.checkMarkSpan {
  display: inline-block;
  &::after {
    position: relative;
    content: '';
    top: 2px;
    display: block;
    width: 5px;
    height: 13px;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.currentLayout .checkMark {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 24px;
  width: 24px;
  display: inline-block;
  visibility: visible;
  border: none;
  opacity: 1;
  z-index: 1;
  background-color: #E31818;
  color: #FFFFFF;
}

.currentLayoutSpan {
  position: absolute;
  top: 38%;
  left: 20%;
  height: 18px;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #DDDDDD;
  background-color: #E31818;
  padding: 5px;
}

.layoutRows, .layoutRowsDef {
  text-align: center;
  float: left;
  margin-left: 3%;
  top: 20%;
  padding: 5px 10px;
  height: 200px;
  width: 235px;
}

.layoutRowsNonSelect {
  text-align: center;
  float: left;
  margin-left: 3%;
  top: 20%;
  padding: 5px 10px;
  opacity: 0.6;
  overflow: hidden;
  height: 200px;
  width: 235px;
  &:hover {
    opacity: 1;
  }
}

.layoutRowDesc {
  top: 23px;
  position: relative;
  height: 17px;
  color: #000000;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
}

.layoutRowStories {
  top: 23px;
  position: relative;
  height: 14px;
  color: #000000;
  font-size: 10px;
  line-height: 24px;
  text-align: center;
}

.leftNavBtnDiv {
  position: absolute;
  top: 45%;
  left: 0%;
}

.rightNavBtnDiv {
  position: absolute;
  top: 45%;
  right: 0%;
}

.NavBtnBg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 40px;
  width: 40px;
  background: #333333;
  outline: none;
  border: none;
}

.disabled_NavBtnBg {
  background-color: rgba(0, 0, 0, 0.1);
}

.indicator_active {
  width: 8px;
  height: 8px;
  background: #333333;
  border-radius: 8px;
  margin: 3px;
}

.indicator_inactive {
  width: 8px;
  height: 8px;
  background: #dddddd;
  border-radius: 8px;
  margin: 3px;
}

.continueModalBtn {
  width: 90px;
  color: white;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  border: 1px solid #000000;
  background-color: #000000;
  cursor: pointer;
  line-height: 15px;
}

.cancelModalBtn {
  position: relative;
  left: 10%;
  border: 1px solid #333333;
  width: 80px;
  color: #333333;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  background-color: #FFFFFF;
  cursor: pointer;
  line-height: 15px;
}

.ModalStory {
  margin-top: 15%;
  margin-bottom: 25%;
  margin-right: 5%;
  margin-left: 30%;
  width: 60%;
  height: 18%;
  background-color: white;
  outline: none;
  .modal_story_body {
    position: absolute;
    top: 36%;
  }
}

.modalStorySpan {
  position: relative;
  float: left;
  left: 8%;
  color: #333333;
  font-size: 22px;
  line-height: 30px;
  text-align: left;
}

.modalStoryBtns {
  position: relative;
  float: left;
  left: 12%;
}

.leftArrow {
  position: relative;
  content: '';
  display: block;
  align-items: center;
  left: 2px;
  width: 10px;
  height: 10px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  transform: rotate(135deg);
}

.rightArrow {
  position: relative;
  content: '';
  display: block;
  align-items: center;
  right: 2px;
  width: 10px;
  height: 10px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
}
